dataset_template:
  name: ObsMonitor
  type: IodaStats

  filenames_template:
    start: "[[start_iso]]"
    end: "[[end_iso]]"
    interval_hours: {{ interval_hours | int }}

graphics_template:
  plotting_backend: Emcpy

  # Ob_types append their figures/presets; keep this empty here.
  figure_list: []
