datasets:
  - name: ObsMonitor
    type: IodaStats
    filenames_template:
        template: {{ runtime_dir }}/viirs_npp_%Y%m%d%H_output_aod.nc
        start: "{{ start_time | to_isotime }}"
        end: "{{ end_time | to_isotime }}"
        interval_hours: {{ interval_hours }}
    groups:
    - name: oman/aerosolOpticalDepth
      variables:
      - mean
      - count
      - RMS
    variables:
     - validTime

graphics:

  plotting_backend: Emcpy
  figure_list:

  # Ioda Stats Time Series

  # Mean Aerosol Optical Depth
  - figure:
      layout: [1,1]
      title: '{{ ob_type }} Time Series - Mean'
      output name: {{ runtime_dir }}/plots/{{ sensor }}/{{ satellite }}/aerosolOpticalDepth/{{ ob_type }}_time_series_{{ start_time | to_YMDH }}_{{ end_time | to_YMDH }}.png
    plots:
      - add_xlabel: 'Datetime'
        add_ylabel: 'aerosolOpticalDepth (Mean)'
        add_grid:
        add_legend:
          loc: 'upper left'
        layers:
        - type: LinePlot
          x:
            variable: ObsMonitor::MetaData::validTime
          y:
            variable: ObsMonitor::oman_aerosolOpticalDepth::mean
            slices: '[:,0]'
          markersize: 5
          color: 'black'
          label: 'aerosolOpticalDepth'
