datasets:
  - name: ObsMonitor
    type: IodaStats
    filenames_template:
        template: {{ runtime_dir }}/viirs_n21_%Y%m%d%H_output_aod.nc
        start: "{{ start_time | to_isotime }}"
        end: "{{ end_time | to_isotime }}"
        interval_hours: {{ interval_hours }}
    groups:
    - name: byDomains/oman/aerosolOpticalDepth
      variables:
      - mean
      - count
      - RMS
    - name: byDomains/ombg/aerosolOpticalDepth
      variables:
      - mean
      - count
      - RMS
    - name: griddedBins/oman/aerosolOpticalDepth
      variables:
      - mean
      - count
      - RMS
    - name: griddedBins/ombg/aerosolOpticalDepth
      variables:
      - mean
      - count
      - RMS
    variables:
     - validTime

graphics:

  plotting_backend: Emcpy
  figure_list:

  # Ioda Stats Time Series
  # Observation Counts
  - figure:
      layout: [1,1]
      title: '{{ ob_type }} Time Series - Observation Counts'
      output name: {{ runtime_dir }}/plots/{{ sensor }}/{{ satellite }}/aerosolOpticalDepth/{{ ob_type }}_time_series_counts_{{ start_time | to_YMDH }}_{{ end_time | to_YMDH }}.png
    plots:
      - add_xlabel: 'Analysis Time'
        add_ylabel: 'Observation Count'
        add_grid:
        add_legend:
          loc: 'upper left'
        set_time_axis:
          major: 'day'
          minor: 'hour'
          fmt: "%Y-%m-%d %HZ"
          rotate: 30
        layers:
        - type: LinePlot
          drop_nan: false
          x:
            variable: ObsMonitor::MetaData::validTime
          y:
            variable: ObsMonitor::byDomains_ombg_aerosolOpticalDepth::count
            slices: '[:,-1]'
          markersize: 5
          color: 'black'
          label: 'Global'
  # Mean and Std Dev Aerosol Optical Depth
  - figure:
      layout: [1,1]
      title: '{{ ob_type }} Time Series - Innovation Statistics'
      output name: {{ runtime_dir }}/plots/{{ sensor }}/{{ satellite }}/aerosolOpticalDepth/{{ ob_type }}_time_series_innov_{{ start_time | to_YMDH }}_{{ end_time | to_YMDH }}.png
    plots:
      - add_xlabel: 'Analysis Time'
        add_ylabel: 'Aerosol Optical Depth'
        add_grid:
        add_legend:
          loc: 'upper left'
        set_time_axis:
          major: 'day'
          minor: 'hour'
          fmt: "%Y-%m-%d %HZ"
          rotate: 30
        layers:
        - type: LinePlot
          drop_nan: false
          x:
            variable: ObsMonitor::MetaData::validTime
          y:
            variable: ObsMonitor::byDomains_ombg_aerosolOpticalDepth::mean
            slices: '[:,-1]'
          markersize: 5
          color: 'black'
          label: 'Global O-F Mean'
        - type: LinePlot
          drop_nan: false
          x:
            variable: ObsMonitor::MetaData::validTime
          y:
            variable: ObsMonitor::byDomains_ombg_aerosolOpticalDepth::RMS
            slices: '[:,-1]'
          markersize: 5
          color: 'black'
          label: 'Global O-F RMS'
          linestyle: 'dashed'
        - type: LinePlot
          drop_nan: false
          x:
            variable: ObsMonitor::MetaData::validTime
          y:
            variable: ObsMonitor::byDomains_oman_aerosolOpticalDepth::mean
            slices: '[:,-1]'
          markersize: 5
          color: 'red'
          label: 'Global O-A Mean'
        - type: LinePlot
          drop_nan: false
          x:
            variable: ObsMonitor::MetaData::validTime
          y:
            variable: ObsMonitor::byDomains_oman_aerosolOpticalDepth::RMS
            slices: '[:,-1]'
          markersize: 5
          color: 'red'
          label: 'Global O-A RMS'
          linestyle: 'dashed'
